@inherits LayoutComponentBase

<div class="container-fluid">

    <header>
        <a href="/">
            <h1><img src="img/eTicketlogo.png"></h1>
        </a>
        <h3 class="title">eTicket Management </h3>
    </header>

    <div class="d-flex">
        <NavMenuComponent></NavMenuComponent>
        <div class="content">
            @Body
        </div>
    </div>
</div>
